<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ariza Raqami: {{id}}</title>
</head>

<body>
    Ariza raqami : {{id}}
    <br>
    Ijrochi : {{ijrochi}}
    <br>
    <br>

    <p>FIO: {{fullname}}</p>
    <p>Telefon :{{phone1}}</p>
    <p>Telefon qo'shimcha : {{phone2}}</p>
    <p>Manzil : {{address}}</p>
    <p>Muommoning qisqacha mazmuni : {{desc}}</p>
        <br>
    <p>Sana : {{createAt}}</p>

</body>

</html>